:root{
    --yellow : #fffbeb;
    --green : #25b79b;
    --grey : #e0e0e0;
    --dark-grey : #828282;
    --light : #fff;
}

@font-face {
    font-family: "IRANYekanRegularFaNum";
    font-style: normal;
    font-weight: 400;
    src: local("IRANYekanRegularFaNum"), local("IRANYekanRegularFaNum"),
      url("../src/assets/fonts/IRANYekanRegularFaNum.ttf") format("truetype");
    /* Modern Browsers */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

html{
    overflow-x: hidden !important;
}

body{
    direction: rtl;
    font-family: 'IRANYekanRegularFaNum' , Arial, Helvetica, sans-serif;
}


// utility classes

.font-size-0{
    font-size: 0.8rem;
}

.text-green{
    color: var(--green);
}
.text-grey{
    color: var(--dark-grey);
}

.bg-yellow{
    background-color: var(--yellow);
}
.bg-green{
    background-color: var(--green);
}

.gap-1{
    gap: 1.5rem;
}

.radius-rounded{
    border-radius: 200px;
}
.radius-smooth{
    border-radius: 10px;
}

.border-green{
    border: 1px solid var(--green);
}

.centeralize{
    display: flex;
    align-items: center;
    justify-content: center;
}




// layout and pages

// components
.CustomInputWrapper{
    label{
        font-size: 0.7rem;
        position: absolute;
        z-index: 9;
        top: -0.5rem;
        right: 0.5rem;
        background-color: var(--light);
        padding: 0 0.3rem;
        opacity: 0;
        transition: opacity ease 0.1s;
    }
    .activeLabel{
        opacity: 1 !important;
    }
    .CustomInput{
        width: 100%;
        height: 2.5rem;
        padding: 0.2rem 0.5rem;
        border-radius: 4px;
        border: 1px solid var(--grey);
        outline: none;
        &:focus{
            border: 1px solid var(--green);
        }
        &::placeholder{
            font-size: 0.8rem;
        }
    }
    .IputHasError{
        border: 1px solid red !important;
    }
}

.DropDownWrapper{
    border: 1px solid var(--grey);
    position: relative;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    .DropHeader{
        height: 1.5rem;
        color: var(--dark-grey);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        .selectedDrop{
            color: #111 !important;
        }
    }
    label{
        position: absolute;
        top: -10px;
        right: 5px;
        padding: 0 0.3rem;
        font-size: 0.7rem;
        color: var(--dark-grey);
        background-color: var(--light);
        opacity: 0;
    }
    .activeDropLabel{
        opacity: 1;
    }
    ul{
        position: absolute;
        top: 110%;
        right: 0;
        width: 100%;
        border: 1px solid var(--grey);
        max-height: 200px;
        overflow-y: scroll;
        visibility: hidden;
        opacity: 0;
        transition: opacity ease 0.3s;
        background-color: var(--light);
        z-index: 999;
        li{
            text-align: right;
            font-size: 0.8rem;
            color: var(--dark-grey);
            padding: 0.5rem;
            border-bottom: 1px dotted var(--grey);
            &:last-child{
                border-bottom: none;
            }
            &:hover{
                background-color: var(--yellow);
            }
        }
    }
    .showList{
        opacity: 1;
        visibility: visible;
    }
}

.backDrop{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    z-index: 999;
    opacity: 0.4;
}

.modalWrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    .modalStyle{
        width: 100vw;
    }
}